body {
  margin: 0;
  background-color: #9bd3d6;
  font-family: 'Slabo 27px', serif;
  font-size: 21px;
  letter-spacing: 1px;
}

header {
  background-color: red;
  background-image: url("http://66.media.tumblr.com/54af19212db5e2cce51d031cb32709fd/tumblr_o7l2sq0iSy1qze3hdo1_r2_500.gif");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-button {
  color: rgba(255,255,255,0.5);
  animation-name: nav-button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: 12em;
}

@keyframes nav-button {
    0%   {color: rgba(255,255,255,0.4);
          bottom: 9em;}
}

.header.bottom-strip {
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
}

.social-button {
  display: inline;
  padding: .5em;
  margin-bottom: 1em;
  color: #ff4455;
}

.project{
  width: 100%;
  padding-top: 1em;
  margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.contact.social-button {
  color: blue;
}

.heading {
  position: absolute;
  top: 2em;
}

p.personal-info {
  background: #f5b3a8;
  padding: 1em;
}

p.contact-info {
  background: #f5b3a8;
  padding: 1em;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  font-family: 'Slabo 27px', serif;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion h3 {
  font-size: 25px;
}

button.accordion p {
  font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

main-content {
  margin: 1em;
}
h2 {
  text-align: center;
}

@media only screen and (min-width: 768px) {
     /* input desktop only styles below here */
    header {
       background-image: url("http://i.imgur.com/NmI3q8D.gif");
      }
      /* Style the buttons that are used to open and close the accordion panel */
      button.accordion {
          background-color: #eee;
          color: #444;
          cursor: pointer;
          margin: auto;
          display: block;
          width: 45%;
          text-align: left;
          border: none;
          outline: none;
          transition: 0.4s;
      }

      /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

      /* Style the accordion panel. Note: hidden by default */
      div.panel {
          text-align: center;
          padding: 0;
          margin: auto;
          display: block;
/*           padding: 0 18px; */
          background-color: white;
          max-height: 500px;
          width: 45%;
          overflow: visible;
          transition: none;
          opacity: 1;
      }

      /* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
      div.panel.show {
          margin: auto;
          display: block;
          align: center;
          opacity: 1;
          max-height: 500px;
          padding: 0;/* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
      }
      p.personal-info {
        margin: 1em;
      }
    }
