<!DOCTYPE html>
<html>
  <head></head>
  <body>
  <%= link_to 'Gifts', gifts_path %>|<%= link_to "Checkout", new_charge_path %>|<%= link_to "Empty Cart", empty_cart_path %>
    <%= yield %>
  </body>
</html>