@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  background-color: rgb(112, 112, 112);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #ffff76;
}

ul {
  list-style: none;
}

h1 {
  color: #610808;
}

.promotion {
  color: yellow;
}

.active {
  color: purple;
}

img {
  border: 1px solid black;
  border-style: dotted;
  border-width: 10px;
  opacity: 0.5;
}
