<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
        </button>
        <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Root', root_path %></li>
          <li><%= link_to 'Contacts', contact_details_path %></li>
          <li><%= link_to 'Admin', admin_path %></li>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
